In [1]:
%config Completer.use_jedi = False
import sys, IPython
print("IPython version:", IPython.__version__)
import jedi
print("Jedi version:", jedi.__version__)

IPython version: 9.8.0
Jedi version: 0.19.2

In [2]:
import sys
import os
import numpy as np
import pandas as pd
import scanpy as sc
import anndata as ad
import tiledbsoma
import matplotlib.pyplot as plt
import seaborn as sns

In [24]:
path = "/fast/data/scTFM/ae/tiledb_all/SRX25263847"

In [29]:
experiment = tiledbsoma.Experiment.open(path)
ms = experiment.ms["RNA"]
ms

<Measurement 'file:///fast/data/scTFM/ae/tiledb_all/SRX25263847/ms/RNA' (open for 'r') (3 items)
    'X': 'file:///fast/data/scTFM/ae/tiledb_all/SRX25263847/ms/RNA/X' (unopened)
    'uns': 'file:///fast/data/scTFM/ae/tiledb_all/SRX25263847/ms/RNA/uns' (unopened)
    'var': 'file:///fast/data/scTFM/ae/tiledb_all/SRX25263847/ms/RNA/var' (unopened)>

In [26]:
# 从实验对象读取obs数据
obs_df = experiment.obs.read().concat().to_pandas()
print(f"细胞观测数据加载完成: {obs_df.shape}")
print("列名:", list(obs_df.columns))
obs_df.head()

细胞观测数据加载完成: (11495, 7)
列名: ['soma_joinid', 'obs_id', 'gene_count', 'umi_count', 'SRX_accession', 'n_genes', 'split_label']

,soma_joinid,obs_id,gene_count,umi_count,SRX_accession,n_genes,split_label
0,0,AAACCCAAGGTCTACT,2699,6287.0,SRX25263847,2699,0
1,1,AAACCCACAAGCTGCC,2442,7230.0,SRX25263847,2442,0
2,2,AAACCCACAGAGGTTG,1732,3327.0,SRX25263847,1732,0
3,3,AAACCCACAGGTGTTT,705,1392.0,SRX25263847,705,0
4,4,AAACCCAGTGCATTAC,759,988.0,SRX25263847,759,0

In [20]:
raw_path = "/fast/data/scTFM/ae/SRX25263847.h5ad"

adata = sc.read_h5ad(raw_path)
adata

AnnData object with n_obs × n_vars = 11530 × 36601
    obs: 'gene_count', 'umi_count', 'SRX_accession'
    var: 'gene_symbols', 'feature_types'

In [19]:
raw_path = "/fast/data/scTFM/rtf/TEDD/raw/Tedd_8_AdultVagina_scatac.h5ad"

adata = sc.read_h5ad(raw_path)
adata

AnnData object with n_obs × n_vars = 4824 × 13498
    obs: 'Tissue', 'Celltype', 'Timepoint', 'Sex', 'UMAP_1', 'UMAP_2'
    uns: 'Cell', 'PMID_DOI', 'Project', 'Sequencing', 'Species', 'Stage', 'Technology', 'Timepoint', 'Tissue'

In [30]:
SAMPLE_ID = "Tedd_22_FetalBoneMarrow"
SOMA_URI = f"/fast/data/scTFM/rtf/TEDD/tile_4000_fix/{SAMPLE_ID}"

In [35]:
experiment = tiledbsoma.Experiment.open(SOMA_URI)
ms = experiment.ms['RNA']
ms,experiment

(<Measurement 'file:///fast/data/scTFM/rtf/TEDD/tile_4000_fix/Tedd_22_FetalBoneMarrow/ms/RNA' (open for 'r') (6 items)
     'X': 'file:///fast/data/scTFM/rtf/TEDD/tile_4000_fix/Tedd_22_FetalBoneMarrow/ms/RNA/X' (unopened)
     'obsm': 'file:///fast/data/scTFM/rtf/TEDD/tile_4000_fix/Tedd_22_FetalBoneMarrow/ms/RNA/obsm' (unopened)
     'obsp': 'file:///fast/data/scTFM/rtf/TEDD/tile_4000_fix/Tedd_22_FetalBoneMarrow/ms/RNA/obsp' (unopened)
     'uns': 'file:///fast/data/scTFM/rtf/TEDD/tile_4000_fix/Tedd_22_FetalBoneMarrow/ms/RNA/uns' (unopened)
     'var': 'file:///fast/data/scTFM/rtf/TEDD/tile_4000_fix/Tedd_22_FetalBoneMarrow/ms/RNA/var' (unopened)
     'varm': 'file:///fast/data/scTFM/rtf/TEDD/tile_4000_fix/Tedd_22_FetalBoneMarrow/ms/RNA/varm' (unopened)>,
 <Experiment '/fast/data/scTFM/rtf/TEDD/tile_4000_fix/Tedd_22_FetalBoneMarrow' (open for 'r') (2 items)
     'ms': Collection 'file:///fast/data/scTFM/rtf/TEDD/tile_4000_fix/Tedd_22_FetalBoneMarrow/ms' (open for 'r') (1 item)
         'RNA': Measurement 'file:///fast/data/scTFM/rtf/TEDD/tile_4000_fix/Tedd_22_FetalBoneMarrow/ms/RNA' (open for 'r') (6 items)
             'X': 'file:///fast/data/scTFM/rtf/TEDD/tile_4000_fix/Tedd_22_FetalBoneMarrow/ms/RNA/X' (unopened)
             'obsm': 'file:///fast/data/scTFM/rtf/TEDD/tile_4000_fix/Tedd_22_FetalBoneMarrow/ms/RNA/obsm' (unopened)
             'obsp': 'file:///fast/data/scTFM/rtf/TEDD/tile_4000_fix/Tedd_22_FetalBoneMarrow/ms/RNA/obsp' (unopened)
             'uns': 'file:///fast/data/scTFM/rtf/TEDD/tile_4000_fix/Tedd_22_FetalBoneMarrow/ms/RNA/uns' (unopened)
             'var': 'file:///fast/data/scTFM/rtf/TEDD/tile_4000_fix/Tedd_22_FetalBoneMarrow/ms/RNA/var' (unopened)
             'varm': 'file:///fast/data/scTFM/rtf/TEDD/tile_4000_fix/Tedd_22_FetalBoneMarrow/ms/RNA/varm' (unopened)
     'obs': 'file:///fast/data/scTFM/rtf/TEDD/tile_4000_fix/Tedd_22_FetalBoneMarrow/obs' (unopened)>)

In [37]:
obs_df = experiment.obs.read().concat().to_pandas()
obs_df

,soma_joinid,obs_id,Tissue,Celltype,Timepoint,Sex,UMAP_1,UMAP_2,time,n_genes,n_counts,next_cell_id,next_cell_probability,prev_cell_id,prev_cell_probability,split_label
0,0,Tedd_22_FetalBoneMarrow_F21_boneMarrow_CD45+_F...,Bone Marrow,Erythroid Cell,GW16,Male,-13.130476,-0.022980,16.0,5454,43788.0,Tedd_22_FetalBoneMarrow_CAATGACTCGCATAGT-1-WSS...,0.799996,Tedd_22_FetalBoneMarrow_F51_boneMarrow_CD45+_F...,7.984712e-01,0
1,1,Tedd_22_FetalBoneMarrow_F21_boneMarrow_CD45+_F...,Bone Marrow,Stroma,GW16,Male,7.298230,-11.466713,16.0,3916,39292.0,Tedd_22_FetalBoneMarrow_CACACAAGTATGATCC-1-WSS...,0.779780,Tedd_22_FetalBoneMarrow_F51_boneMarrow_CD45+_F...,7.922889e-01,0
2,2,Tedd_22_FetalBoneMarrow_F21_boneMarrow_CD45+_F...,Bone Marrow,Neutrophil,GW16,Male,2.022043,3.977409,16.0,3299,12187.0,Tedd_22_FetalBoneMarrow_TTGTTCATCGTAGTGT-1-WSS...,0.772415,Tedd_22_FetalBoneMarrow_F30_boneMarrow_CD45+_F...,4.963417e-01,0
3,3,Tedd_22_FetalBoneMarrow_F21_boneMarrow_CD45+_F...,Bone Marrow,Monocyte,GW16,Male,-1.699589,10.993606,16.0,2964,11849.0,Tedd_22_FetalBoneMarrow_AAACGCTGTAATTAGG-1-WSS...,0.246583,Tedd_22_FetalBoneMarrow_F30_boneMarrow_CD45+_F...,7.806604e-01,0
4,4,Tedd_22_FetalBoneMarrow_F21_boneMarrow_CD45+_F...,Bone Marrow,Dendritic Cell,GW16,Male,6.611722,-11.464841,16.0,4121,21819.0,Tedd_22_FetalBoneMarrow_TCCGTGTTCTGGTTGA-1-WSS...,0.570798,Tedd_22_FetalBoneMarrow_F30_boneMarrow_CD45+_F...,6.009362e-02,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103223,103223,Tedd_22_FetalBoneMarrow_TTTGGTTAGATGATTG-1-WSS...,Bone Marrow,Erythroid Cell,GW17-19,Male,-1.857476,-7.376513,18.0,657,3818.0,None,0.000000,Tedd_22_FetalBoneMarrow_F41_boneMarrow_CD45-_F...,2.129699e-02,0
103224,103224,Tedd_22_FetalBoneMarrow_TTTGGTTGTGGATCGA-1-WSS...,Bone Marrow,Neutrophil,GW17-19,Male,-0.739767,0.309046,18.0,535,1108.0,None,0.000000,Tedd_22_FetalBoneMarrow_F41_boneMarrow_CD45-_F...,3.791386e-11,0
103225,103225,Tedd_22_FetalBoneMarrow_TTTGTTGAGTTGGCGA-1-WSS...,Bone Marrow,Erythroid Cell,GW17-19,Male,-6.605500,-4.846563,18.0,1152,14325.0,None,0.000000,Tedd_22_FetalBoneMarrow_F29_boneMarrow_CD45+_F...,2.261113e-01,0
103226,103226,Tedd_22_FetalBoneMarrow_TTTGTTGTCAATGTCG-1-WSS...,Bone Marrow,B Cell,GW17-19,Male,6.117208,0.002200,18.0,2630,8943.0,None,0.000000,Tedd_22_FetalBoneMarrow_F41_boneMarrow_CD45+_F...,1.574261e-01,0
103227,103227,Tedd_22_FetalBoneMarrow_TTTGTTGTCACCCTCA-1-WSS...,Bone Marrow,B Cell,GW17-19,Male,6.298948,-0.386781,18.0,1683,4459.0,None,0.000000,Tedd_22_FetalBoneMarrow_F41_boneMarrow_CD45+_F...,1.649096e-04,0

In [ ]:
uns_df = ms.uns.read().concat().to_pandas()
uns_df

AttributeError: 'Experiment' object has no attribute 'uns'